@tailwind base;
@tailwind components;
@tailwind utilities;

.filter:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    background-image: url("/images/house.avif");
    z-index: -1;
    filter: brightness(50%);
    background-position: center;
    background-size: cover;
    height: 53rem;
}

.newsletter {
    background-image: url("/images/newsletter.png");
    height: 15rem;
    background-position: center;
    background-size: cover;
}

.banner {
    background-image: url("/images/banner.png");
    height: 15rem;
    background-position: center;
    background-size: cover;
}

.banner2 {
    background-image: url("/images/banner.png");
    height: 10rem;
    background-position: center;
    background-size: cover;
}

address {
    font-style: normal;
}

.A {
    background-color: #108f09;
}

.B {
    background-color: #7FC417;
}

.C {
    background-color: #FCEE21;
}

.D {
    background-color: #FBB03C;
}

.E {
    background-color: #F15A24;
}

.F {
    background-color: #FE1212;
}

.G {
    background-color: #BD0405;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #C4C4C4;
    margin-top: -5px;
}