@tailwind base;
@tailwind components;
@tailwind utilities;

.filter:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    background-image: url("/images/house.avif");
    z-index: -1;
    filter: brightness(50%);
    background-position: center;
    background-size: cover;
    height: 53rem;
}
